{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<title>New Stock</title>
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner stock">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h2>New Stock Item</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form action="#" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" maxlength="50" class="form-control" name="name" placeholder="Name of the stock">

                <label for="brand">Brand:</label>
                <input type="text" maxlength="50" class="form-control" name="brand"
                       placeholder="Name of the stock brand">

                <label for="num_in_stock">Number:</label>
                <div class="input-group">
                    <input type="number" class="form-control" maxlength="3" name="num_in_stock" placeholder=1>
                </div>
                <br>
                <button type="submit" class="btn btn-default" id="submit">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
