{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<title>Stocks</title>
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner stock">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>{{ department.name }}
        </h1>

    </div>
</div>

<div class='flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
        <a href="{{url_for('newStock', department_id = department.id )}}">
            <button class="btn btn-default" id="new-stock-item">
                Add Stock Item
            </button>
        </a>

    </div>
    <div class="col-md-7"></div>
</div>

{% for i in stocks %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 stock-list">
        <h3>Name: {{i.name}}</h3>
        <p>Brand: {{i.brand}}</p>
        <p class="stock-number">Number: {{i.num_in_stock}}</p>
        <a href="{{url_for('editStockItem', department_id = department.id, stock_id=i.id ) }}">Edit</a> |
        <a href="{{url_for('deleteStockItem', department_id = department.id, stock_id=i.id ) }}">Delete</a>
    </div>
    <div class="col-md-1"></div>
</div>
{% endfor %}
{% endblock %}